h1
{
    background-color:black;
    text-align: center;
    color: #ffffff;
}

h2{
    padding-top: 15px;
    color: tomato;
    border: 2px solid purple;
    margin-top: 15px;
    paddinng-top:15px;
}
